.container {
    display: grid;
    gap: 16px;
    // padding: 16px;
    // justify-content: space-between;
}

.horizontal {
    grid-template-columns: 1fr 1fr;
}

.vertical {
    grid-template-columns: 1fr;
}
.container img {
    width: 100%;
    // height: fit-content;
    height: 100%;
}

.imageWrapper {
    width: 100%;
    max-height: 1080px;
    overflow: hidden;
}

.imageWrapper img {
    height: 100%;
    object-fit: cover;
}