.InputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.input, .textArea {
    // height: 3.25rem;
    padding: 1rem;
    font-size: 1rem;
    line-height: 140%;
}

.textArea {
    min-height: 6rem;
    resize: vertical;

}



.InputContainer label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #464646;
}

.radioGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radioInput {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
    accent-color: #2156a6;
}

.radioLabel {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radioLabel span {
    text-transform: initial;
    font-weight: 400;
}
