.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: var(--desktop-margin);
    padding-left: var(--desktop-margin);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    // margin-bottom: 1rem;
    background: rgba( 233, 233, 233, 0.75);
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur( 26.5px );
    -webkit-backdrop-filter: blur( 26.5px);
    z-index: 999;
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.25rem;
}

.logo_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
}

.logo_area p {
    font-weight: 500;
    font-size: 1.5rem;
}



.line {
    // border: 1px #000 solid;
    background-color: #000;
    height: 120px;
    width: 1px;

}