.container {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: flex;
    flex-direction: column;
    gap: 16px;
    // padding: 16px;
}


.container img {
    width: 100%;
    // height: fit-content;
    height: 100%;
}