.page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.page b {
  font-weight:800;
  color: var(--primary-blue);
}
.page i {
  font-weight:400;
  color: var(--primary-blue);
}

.main h1 {
  padding-right: var(--desktop-margin);
  padding-left: var(--desktop-margin);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 3rem;
}
